.hero {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero > div > h1 {
  color: var(--white-color);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
