.wrapper {
  position: relative;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 8px;
  color: var(--black-color);
  background: var(--white-color);
  width: clamp(100px, 100%, 568px);
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 20px;
  z-index: 2;
}

.searchResults {
  position: absolute;
  background-color: var(--black-color);
  left: -18%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #34c94b;
  max-height: 455px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  top: 60px;
  width: 100vw;
  /* max-width: 600px; */
  width: clamp(100px, 136%, 773px);
}

.searchResults::-webkit-scrollbar {
  display: none;
}

.searchResultsChild {
  width: 40%;
  background-color: white;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: clamp(100px, 100%, 568px);
}

.wrapper input {
  width: 100%;
  height: 100%;
  color: #121212;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  border: none;
  outline: none;
}

.searchBtn {
  background-color: var(--white-color);
  border: none;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #808080;
  width: 66px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.hide {
  display: none;
}
